@{
    ViewData["Title"] = "Index";
}

<body>
<header class="header">
        <img src="/img/Logo.png" alt="Logo del juego" />
        <div class="title">
            <h1>PREGUNTADORT</h1>
        </div>
        <div class="nav-links">
            <a href='@Url.Action("ConfigurarJuego","Home")'><button type="button" class="btn">Jugar</button></a>
            <a href='@Url.Action("Creditos","Home")'><button type="button" class="btn">Créditos</button></a>
        </div>
    </header>

    <div class="index">
        <p>¿Listos para jugar?</p>
        <img src="/img/Logo.png" alt="Logo del juego" />
        <nav>
            <ul>
                <li><a href='@Url.Action("ConfigurarJuego","Home")'><button type="button" class="btn btn-success">Jugar</button></a></li>
            </ul>
        </nav>
    </div>

    <footer>
        &copy; 2024 PREGUNTADORT | Indiana Sasson y Sol Izraelewicz
    </footer>

    </body>